.contact__screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.contact__screen img {
    width: 320px;
    height: 188px;
}

.contact__screen__title {
    font-size: 2.25rem;
    font-weight: 300;
    margin-top: 38px;
}

.contact__screen__subtitle {
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 24px;
}

.contact__screen__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1daa61;
    height: 37px;
    width: 100px;
    border-radius: 20px;
    margin-top: 32px;
}

.contact__screen__button span {
    font-size: 14px;
    color: white;
    font-weight: 400;
    line-height: 1.14rem;
}